<title>You know Candice?</title>
</head>
<body>
  
    <h1>You FREE V BOCKS ?</h1>
    <p>Get yourself some <b>FREE V BOCKS</b></p>
    <a href="https://trollface.dk
    " target="_blank" title="i wouldnt click on that ">free vbucks</a>
     <p>get v bocks <br> <b>NOW</b></p>
    <img src="https://images.mein-mmo.de/medien/2018/05/Fortnite-Scam.jpg">
</body>